<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZENetworking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>542A6E211D76BFC2001E7EE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>542A6E351D76BFC3001E7EE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>542A6E401D76BFC3001E7EE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
